

/* General styles  */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;    
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

/* Destination section style */
#destinations{
    background-color: #f0f0f0;
    padding: 20px;
}

.destination-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .destination-gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
  }
  
  /* Booking section styles */
  #booking {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

#book-now{
    background-color: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#book-now:hover{
    background-color: #ccc;
}